<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.DoodleBallPlayerMapper">
    <resultMap id="doodleBallPlayer" type="com.tencent.wxcloudrun.model.DoodleBallPlayer">
    </resultMap>
    <select id="getPlayerByPlatformAndOpenId" resultMap="doodleBallPlayer">
        SELECT `id`,
               `platform`,
               `open_id`,
               `union_id`,
               `achievement`,
               `top_score`,
               `money`,
               `registration_date`,
               `last_login`,
               `created_at`,
               `updated_at`
        FROM doodle_ball_player
        WHERE platform = #{platform}
          and open_id = #{openId}
    </select>
    <update id="upsertPlayer" parameterType="com.tencent.wxcloudrun.model.DoodleBallPlayer">
        UPDATE doodle_ball_player
        <set>
            <if test="achievement != null">
                `achievement` = #{achievement},
            </if>
            <if test="topScore != null">
                `top_score` = #{topScore},
            </if>
            <if test="money != null">
                `money` = #{money},
            </if>
            <if test="lastLogin != null">
                `last_login` = #{lastLogin},
            </if>
        </set>
        WHERE `id`= #{id}
    </update>
    <insert id="insertPlayer" parameterType="com.tencent.wxcloudrun.model.DoodleBallPlayer">
        INSERT INTO doodle_ball_player(`platform`, `open_id`, `union_id`, `achievement`, `top_score`, `money`,
                                       `registration_date`, `last_login`)
        VALUES (#{platform}, #{openId}, #{unionId}, #{achievement}, #{topScore}, #{money}, #{registrationDate},
                #{lastLogin})
    </insert>
</mapper>